@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;

  .heading {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 3.5rem 0;
    color: #1a1a1a;

    span {
      display: block;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;

    &-item {
      flex: 1 0 24rem;
      margin: 1rem;
      box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
      overflow: hidden;
      background-color: #ccc;

      &-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;

        &-isLoaded {
          transition: opacity 1s ease-out;
          opacity: 1;
        }
        &:hover {
          transition: transform 400ms ease-out;
          transform: scale(1.15);
        }
      }
    }
  }
}
